

.main-page{
    border: 1px solid black;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}

.ribbon-1{
    width: 90px;
    height: 60px;
    background-color:#cd40d7 ;
    clip-path: polygon(20px 50%, 0% 0%, 100% 0%, 100% 100%, 0% 100%);
 
}
.rbn{
    display: flex;
    
}
.ribbon-2{
    width: 90px;
    height: 60px;
    background-color:#cd40d7 ;
    clip-path: polygon(0% 0%, 100% 0%, calc(100% - 20px) 50%, 100% 100%, 0% 100%);
}

.user{
    border-radius: 50%;
    width: 100px;
}

.title{
    background-color:#cd40d7 ;
    text-align: center;
    padding: 5px;
    width: auto;
    color: #f4e9e9;
    margin-top: 60px;
    margin-bottom: 10px;
    margin-left: 30%;
    margin-right: auto;
    border-radius: 5px;
}

.para{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 18px;
}

#line{
    color:#cd40d7;
    text-align: center;
}

h2{
    text-align: center;
}

.sub_head1{
    background-color:#cd40d7 ;
    text-align: center;
    padding: 3px;
    width: 250px;
    color: #f4e9e9;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}
.sub_head2{
    background-color:#cd40d7 ;
    text-align: center;
    padding: 3px;
    width: 150px;
    height: 20px;
    color: #f4e9e9;
    margin-top: 10px;
    margin-left: 33%;
    margin-right: auto;
    border-radius: 5px;
}

.sub_head3{
    background-color:#cd40d7 ;
    text-align: center;
    padding: 3px;
    width: 200px;
    height: 20px;
    color: #f4e9e9;
    margin-top: 10px;
    margin-left: 37%;
    margin-right: auto;
    border-radius: 5px;
}

.div1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin-top: 10px;     
}


.user-pic{
    margin-top: 20px;
    margin-bottom: 10px;
    width: 120px;
    text-align: center;
    margin: 30px;
}

